<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->

  <%- include('../partials/head', {title: 'Proyecto'}) %>

  <body>
    <!-- Include Header -->
    <%- include('../partials/navbar') %>

    <!-- SECTION -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="section-title">
              <h3 class="title">Agregar Producto</h3>
            </div>

            <form action="/product/add-product" method="POST">
              <!-- Nombre -->

              <div class="form-group">
                <input
                  class="input"
                  type="text"
                  name="nombre"
                  placeholder="Ingrese el nombre del producto del producto"
                />
              </div>

              <!-- Precio -->

              <div class="form-group">
                <input
                  class="input"
                  type="text"
                  name="precio"
                  placeholder="Ingrese el precio del producto"
                />
              </div>

              <!-- Precio -->

              <div class="form-group">
                <label for="">Categoria</label>

                <select name="categoria">
                  <% categorias.forEach(categoria =>{ %>

                  <option value="<%= categoria.id %>">
                    <%= categoria.nombre %>
                  </option>

                  <% }) %>
                </select>
              </div>

              <!-- Description -->

              <div class="section-title">
                <h3 class="title">Descripcion</h3>
              </div>

              <!-- Order notes -->
              <div class="order-notes">
                <textarea
                  class="input"
                  type="text"
                  placeholder="Ingrese una descripcion del Producto"
                ></textarea>
              </div>
              <!-- /Order notes -->

              <div class="col-md-5 order-details">
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="customFile"
                  />
                  <label class="custom-file-label" for="customFile"
                    >Choose file</label
                  >
                </div>
              </div>

              <!-- /row -->
              <div>
                <button type="submit">
                  <a class="primary-btn order-submit text-white"
                    >Agregar Producto</a
                  >
                </button>
              </div>

              <!-- /form -->
            </form>
          </div>
          <!-- /container -->
        </div>
        <!-- /SECTION -->

        <script
          src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          crossorigin="anonymous"
        ></script>
      </div>
    </div>
    <!-- Include Footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
